<nav class="mx-6 md:max-w-6xl flex-col md:mx-auto px-8 border-b-2">
    <div class="container mx-auto flex mt-4 items-center justify-between h-16">
      <div class="flex items-center space-x-4">
        <img
          (click)="toggleMenu()"
          src="assets/icons/icon-menu.svg"
          alt="Menu Icon"
          class="w-4 h-4 cursor-pointer md:hidden hover:border-2 hover:border-orange-400 hover:rounded-md"
        >
        
        <a href="#" class="flex items-center">
          <img src="assets/icons/logo.svg" alt="Logo" class="h-4">
        </a>
        
        <ul class="hidden md:flex text-gray-700 items-center space-x-6">
          <ng-container *ngTemplateOutlet="menuItemsList; context: { $implicit: 'desktop' }">
          </ng-container>
        </ul>
      </div>

      <div class="flex items-center space-x-6">
        <div class="relative">
          <app-cart />
        </div>
        <div class="w-10 h-10">
          <img
            src="assets/images/image-avatar.png"
            alt="Avatar"
            class="w-full h-full rounded-full hover:border-2 hover:border-orange-400"
          >
        </div>
      </div>
    </div>

    <div
      [hidden]="!isOpen"
      class="fixed inset-0 bg-black bg-opacity-50 z-20 md:hidden"
      (click)="toggleMenu()"
    ></div>

    <div
      [ngClass]="isOpen ? 'translate-x-0' : '-translate-x-full'"
      class="fixed top-0 left-0 w-64 h-full bg-white z-30 transform transition-transform duration-200 ease-in-out md:hidden"
    >
      <div class="p-4">
        <img
          (click)="toggleMenu()"
          src="assets/icons/close.svg"
          alt="Close Icon"
          class="w-6 h-6 cursor-pointer hover:border-2 hover:border-orange-400 hover:rounded-md"
        >
        <ul class="mt-8 space-y-4">
          <ng-container *ngTemplateOutlet="menuItemsList; context: { $implicit: 'mobile' }">
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>

  <ng-template #menuItemsList let-display>
    @for (item of menuItems; track item) {
      <li
        [ngClass]="display === 'mobile' ? '' : ' mt-4 box-content h-16 hover:border-orange-400 hover:border-b-4 px-2 hover:text-neutral-950 font-bold'"
        class="cursor-pointer"
      >
        <a>{{ item }}</a>
      </li>
    }
  </ng-template>